.container{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.container table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid grey;
}

.container table thead th{
    font-size: 15px;
    font-weight: bold;
    color: #373435;    
    background-color: #ffffff;
    border: 1px solid grey;
    white-space: nowrap;
}

.container table tbody td{
    white-space: nowrap;
    border: 1px solid grey;
}

.container button{
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}